/* Main and default document styles.*/

body {
    font-family: Arial, sans-serif;
    background-color: #c4cad8;
    color: #333;
}

section {
	border: none;
}

div {
	border: none;
    text-align: center;
    align-items: center;
}

 .center {
    text-align: center;
}

h1 {
    color: #32659c;
	text-align:center;
}

p {
    font-size: 1.0em;
    line-height: 100%;
    margin-top: 0.25em ;
    margin-bottom: 1.0em ;
}

/* Left alignment as for audio status. */
.upload-status {
    text-align: left;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 500;
    color: #32659c;
}

/* Centre alignment as for play/pause button. */
.center-controls {
    text-align: center;
    margin-top: 15px;
}

#waveform {
    border: 2px solid #98afc7;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    margin-top: 20px;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Optional: play button styling */
#playPauseBtn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6374d9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Play button on hover. */
#playPauseBtn:hover {
    background-color: #4e49e4;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    margin: 20px auto;
}

.slider-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-container label {
    margin-right: 10px;
}
